:root{
    --nav-color: #0099CC;
}
body{
    background-color: #272b30;
    font-family: 'Josefin Sans', sans-serif;
}
header img {
    max-height: 30vh;
    object-fit: cover;
    
} 
                                                /* nav  */
nav{
    background-color: #3A497B;
    margin-inline: auto;
    margin-top: -30px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.7);
}
nav .active{
    color: var(--nav-color) !important;
}
.nav-link{
    transition: color .5s;
}
.nav-link:hover{
    color: var(--nav-color);
}
nav .nav-logo img{
    max-width: 50px;
}
nav .nav-title h1{
    font-size: 30px;
    font-weight: 500;
}
                                                /* cards  */
.card-info , .card-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
}
.card-info h3{
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
}
.card-img-top , .card-info span {
    filter: grayscale(0.7); 
    transition: all .5s ;

}
.card:hover .card-img-top , .card:hover .card-info span {
    filter: grayscale(0);
}
.card{
    transition: all .5s;
}
.card:hover{
    scale: 1.1;
}
                                                        /* details  */
#details{
    background-color: #27282B;
    height: 100vh;
}
.details-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
}
                                                        /* loader  */
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
    0% {
    transform: rotate(0deg);
}
    100% {
    transform: rotate(360deg);
}
} 
